<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Sharing Platform</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/style.css">
 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="index, follow">
    <meta name="author" content="<%- process.env.COMPANY %>">

    <!-- SEO Meta -->
    <title>Your Page Title | Brand Name</title>
   <!-- SEO Description and Keywords -->
    <meta name="description" content="Upload, store, and share files securely. Get instant download links to share with anyone. Fast, simple, and secure file sharing.">
    <meta name="keywords" content="file sharing, upload files, share files, send large files, generate download link, online file sharing, secure file upload, file transfer, file hosting, quick file sharing, temporary file upload, free file transfer, cloud storage, file uploader, download link generator">

    <!-- Open Graph (for social media sharing) -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="sharefiles">
    <meta property="og:description" content="Upload and share files instantly. Get a secure, shareable link with just one click — no sign-up required. Fast, free, and reliable file hosting.">


    <meta property="og:image" content="<%- process.env.BASE_URL %>/to/image.jpg">
    <meta property="og:url" content="<%- process.env.BASE_URL %>">
    <meta property="og:site_name" content="webshare">

    <!-- Favicon -->
    <link rel="icon" href="images/fevicon.png" type="image/x-icon">

</head>
<body>
    <!-- Header Section -->
    <header>
        <div class="logo">
            <img id="logimg" src="/images/webvire_logo.png">
            <h1><%- process.env.PROJECTNAME %></h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="about-us">About Us</a></li>
                <li><a href="features">Features</a></li>
              <!--   <li><a href="#">Login</a></li>
                <li><a href="#">Sign Up</a></li>
 -->            </ul>
        </nav>
    </header>
