 <%- include('./partials/header') %>
 <style>
 /* Footer Section */
footer {

    position: fixed;
     width: -webkit-fill-available;
     bottom: 2px;
}
 </style>
 <section class="aboutus" style="padding:20px 30px"><h1>About Us</h1></section>
    <section class="aboutus">
        <div class="about-content">
          <div class="about">
       
            <h2 class="font-weight-bold">We Create Designs and technology</h2>

            <p> 
             <code>“Change is the only constant” </code> is a phrase which encompasses the universal Law of the Universe itself. And the human civilization is a high instance of an surroundings which has continuously, and successfully, normal trade because it came about. The ultimate couple of many years has thrown open a area which turned into hitherto unknown in its variety, abilities and superb powers – the virtual area. these days, agencies are looking at taking their enterprise to virtual platform, establishing a reputation and identity on this area. they may be remodeling their commercial enterprise on line and promoting to clients in remote lands. Geographical limitations have blurred as a ways as exchange and commercial enterprise is involved. however what groups want nowadays is a robust IT aid to make certain incorporated digital presence and be a step beforehand of the crowd.
            </p>
	     </div>


	           

    </div>
</section>


  <%- include('./partials/footer') %>
